$raduis: 10px;
.cards {
  border: 1px solid #53b51a;
  border-radius: $raduis;

}
.img {
  border-radius: $raduis $raduis 0 0;
   width: 100%;
   height: 150px;
}

.badge {
  top: 20px;
  right: 30px;
  font-size: 17px;
}
